{% extends "accounts/base.html" %}
{% load i18n static %}
{% block content %}
    <div class="container-fluid password-change" id="content-main">
        <form method="post">
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                        {% if form.errors.items|length == 1 %}
                            {% translate "Please correct the error below." %}
                        {% else %}
                            {% translate "Please correct the errors below." %}
                        {% endif %}
                    </p>
                {% endif %}
                <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
                <fieldset class="module aligned wide">
                    <div class="form-row">
                        {{ form.old_password.errors }}
                        <label class="form-label" for="id_old_password">{% translate 'Old password' %}:</label>
                        <input class="form-control" type="password" name="old_password" autocomplete="current-password" required="" id="id_old_password">
                    </div>
                    <div class="form-row">
                        {{ form.new_password1.errors }}
                        <label class="form-label" for="id_new_password1">{% translate 'New password' %}:</label>
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                    </div>
                    <div class="form-row">
                        {{ form.new_password2.errors }}
                        <label class="form-label" for="id_new_password2">{% translate 'New password confirmation' %}:</label>
                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                    </div>
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="{% translate 'Change my password' %}" class="btn btn-warning btn-block">
                </div>
            </div>
        </form>
    </div>
{% endblock %}