{% extends 'accounts/base.html' %}
{% block title %}Профиль{% endblock %}
{% block content %}
    <div class="container-fluid user-profile">
        <div class="row">
            <div class="col-12 col-md-3">
                <h2>Имя пользователя:</h2>
            </div>
            <div class="col-12 col-md-9">
                <h2>{{ request.user.username }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <h2>Email:</h2>
            </div>
            <div class="col-12 col-md-9">
                <h2>{{ request.user.email }}</h2>
            </div>
        </div>
        <h2>
            <a class="btn btn-warning btn-lg" href="{% url 'deactivate_user' user %}">Деактивировать аккаунт</a>
        </h2>
    </div>
{% endblock %}