<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-0 h5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Тесты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Грамматика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Лексика</a>
                </li>
            </ul>
        </div>
    </div>
</nav>